.head-index{
    background-color: #333; /* gris oscuro elegante */
  color: white;
  padding: 10px;
  text-align: center;
}

.head-index a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
}

.head-index a:hover {
  text-decoration: underline;

}
.section-producto{
    height: 40%;
    border: 1px solid black;
}
.section-contacto p{
    font-size: 24px;
    color: blue;
}
.section-pagos{
    border-color: aqua;
    border: bottom 2px solid; 

}
.section-pagos p{
    font-size: 24px;
}